* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: linear-gradient(135deg,blue 0%,purple 50%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
div {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 80px rgb(140,134,134);
    max-width: 400px;
    gap: 20px;
}
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid gray;
}
h2 {
    font-weight: bold;
}
p{
    padding: 20px;
    text-align: center;
    line-height: 1.6;
    color: gray;
}
footer {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
footer a {
    text-decoration: none;
    border: 2px solid blue;
    padding: 8px 16px;
    border-radius: 10px;
}


